#!/usr/bin/bash

interface=$1
event=$2
if [[ $interface == "{{ network_wifi_interface }}" ]] && [[ $event == "up" ]]
then
  mount -a
  rclone copy "{{ krita_backup_map[0].src }}" "{{ krita_backup_map[0].backup_path }}"
  cp "{{ krita_backup_map[1].src }}" "{{ krita_backup_map[1].backup_path }}"
  cp $HOME/.config/tabletprofilesrc $HOME/Backups/Krita/tabletprofilesrc
fi
return 0