{
  "servers": [
    {
      "server": "0.0.0.0",
      "server_port": 10203,
      "password": "{{ shadowsocks_password_10203 }}",
      "method": "chacha20-ietf-poly1305",
      "timeout": 300,
      "fast_open": true
    },
        {
      "server": "0.0.0.0",
      "server_port": 10204,
      "password": "{{ shadowsocks_password_10203 }}",
      "method": "2022-blake3-chacha20-poly1305",
      "timeout": 300,
      "fast_open": true
    }
  ]
}