[Unit]
Description=Shadowsocks server

[Service]
User={{ shadowsocks_user }}
WorkingDirectory=/home/{{ shadowsocks_user }}
ExecStart=/snap/bin/shadowsocks-rust.ssserver -c {{ shadowsocks_config_file }}
Restart=always
